@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

@import "~@/assets/scss/utils/reset";
@import "~@/assets/scss/utils/transitions";
@import "~@/assets/scss/utils/text.scss";

html, body {
		height: 100%;
}

html {
		--bg-color-primary: #fff;
		--bg-color-primary-rgb: 255, 255, 255;
		--bg-color-secondary: #fff;
		--bg-color-accent: #f7f7f7;
		--bg-color-accent-sharp: #fdffbd;
		--text-color-main: #000;
		--text-color-secondary: #4c4c4c;

		font-size: 1rem;
		@include media('<=tablet') {
			font-size: .85rem;
		}
}

.dark-mode {
		--bg-color-primary: #202D36;
		--bg-color-primary-rgb: 32, 45, 54;
		--bg-color-secondary: #2B3743;
		--bg-color-accent: #24313b;
		--bg-color-accent-sharp: #151512;
		--text-color-main: #fff;
		--text-color-secondary: #f1f1f1;
}

body {
		color: var(--text-color-main);
		font-family: $font-family;
		background: var(--bg-color-primary);
		transition: color $mode-transition-time, background-color $mode-transition-time;
}

img {
		max-width: 100%;
}

#app {
		display: flex;
		flex-direction: column;
		height: 100%;
}

a {
	text-decoration: none;
}